/__pycache__
/detectie/__pycache__
/detectie/lightning_logs
debug.py
/detectie/__pycache__/*
/detectie/wandb
/*/__pycache__/*
*/.DS_Store
/herkenning/recognition/__pycache__/
/herkenning/recognition/lightning_logs/
/herkenning/recognition/wandb
/.DS_Store
/recognition/wandb
